.container {
  margin-top: 130px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
}

.containerInfo {
  width: 90%;
  padding: 10px;
  display: flex;
  border: 1px solid var(--primary);
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.info {
  min-width: 200px;
  max-width: 420px;
  width: 90%;
}

/* .image {
  min-width: 200px;

  max-width: 400px;
  width: 90%;
} */

.line {
  font-weight: 700;
  text-align: center;
  font-size: larger;
}

.imgContainer {
  display: flex;
  width: 360px;
  overflow: hidden;
  align-items: center;
}

.containerFlag,
.containerCoat {
  width: 360px;
  height: 100%;
  object-fit: cover;
}

.carousel {
  animation: carousel 5s linear infinite;
}

.image {
  width: 360px;
  height: 100%;
}

@keyframes carousel {
  0%,
  45%,
  100% {
    transform: translateX(0.01%);
  }

  50%,
  95% {
    transform: translateX(-100.01%);
  }
}

@media screen and (max-width: 920px) {
  .imgContainer {
    width: 300px;
  }

  .containerFlag,
  .containerCoat {
    width: 300px;
  }

  .image {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 5px;
  }

  .containerInfo {
    width: 95%;
    padding: 5px;
  }

  .imgContainer {
    width: 220px;
  }

  .containerFlag,
  .containerCoat {
    width: 220px;
  }

  .image {
    width: 220px;
  }
}
